#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  .room-choice {
    margin: 0 auto;
  	color: red;
  	display: block;
  }
  .aRoom {
    display: inline;
    color: white;
    margin: 3px;
    cursor: pointer;
    width: 60px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 5px
  }
  .aRoom:hover{
    border: 3px solid red;
  }
  .roomNameLink{
    color: white;
    text-decoration: none;
  }

  #header{
    z-index: -1;
    position: absolute;
    top: 0px;
    margin-left: -20px;
    width: 100vw;
  }
  #buttons{
    position: absolute;
    top: 30vw;
    left: 3vw;
  }

}

