.noteBox{
    box-sizing: padding-box;
    font-size: 10px;
    width: 60px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}
.column{
    width: 60px;
    margin: 5px;
    display: inline-block;
}
.innercontainer{
    width: 1300px;
    margin: auto;
}
.container{


}

.live{
    border-top: 5px solid red;
    border-bottom: 5px solid red;

}

.active{
    background: red;
}