<div>
	<div class="container">
		<div class="innercontainer">
			<div ng-repeat="column in sequencer.boxes" id="{{$index}}" class="column">
				<div ng-repeat="box in column" class='noteBox' ng-class="{active: box.active}"ng-click='sequencer.toggleActive(box)'></div>
			</div>
		</div>
	</div>

	<button ng-click="sequencer.play()">play</button>
	<button ng-click="sequencer.stop()">stop</button>
	<button ng-click="sequencer.init()">init</button>
<!-- 	<pre id="default-spacing">{{ boxes | json}}</pre> -->

	<div class="container">
		<select ng-options="osc as osc for osc in oscTypes" ng-model="synth.oscillator.type" ng-change="updateSynth()"></select>
		<select ng-options="flt as flt for flt in fltTypes" ng-model="synth.filter.type" ng-change="updateSynth()"></select>
		<select ng-options="roll as roll for roll in rollOff" ng-model="synth.filter.rolloff" ng-change="updateSynth()"></select>

		Attack<input type="number" min="0" max="1000" ng-model="uiEnvelope.attack" ng-change="updateEnv('attack')">
		Decay<input type="number" min="0" max="1000" ng-model="uiEnvelope.decay" ng-change="updateEnv('decay')">
		Sustain<input type="number" min="0" max="1000" ng-model="uiEnvelope.sustain" ng-change="updateEnv('sustain')">
		Release<input type="number" min="0" max="1000" ng-model="uiEnvelope.release" ng-change="updateEnv('release')">

		Effects<input type="number" min="0" max="1000" ng-model="pingPong" ng-change="updateWet('pingPong')">
	</div>

	<!-- <pre id="default-spacing">{{ boxes | json}}</pre> -->
</div>